// colors
$purple: #6b31de;
$darkpurple: #262cac;
$white: #fff;
$black: #000;
$border-radius-size: 14px;
$barbarian: #EC9B3B;
$green: #82BB30;
$blue: #027764;
$grey: #333333;
$pinkish: rgb(255, 0, 157);

// typography
$default-font: 'Barlow Condensed', sans-serif;
$font-size: 15rem;
$text-padding: .4rem;
$tween: 25px;

// animations
$animation-unit: 650ms;
$slideOut: $animation-unit * 1.5;
$slideStudios: $animation-unit * 3;


* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: $purple;
	background-image: radial-gradient($purple 20%, $darkpurple 50%, rgba($black, .5) 100%);
	background-size: 120%;
	background-position: center;
	font-family: $default-font;
	animation: tighten-vinette ease-out ($animation-unit * 6) forwards;
}

a {
	text-decoration: none;
}

nav {
	position:fixed;
	z-index:50;
	width: 100%;
	height: 80px;
	background: $grey;
	text-align: center;
}
nav li {
	display: inline-block;
	padding: 1% 2%;
}

nav li a {
	color: #757575;
	text-transform: uppercase;
}

.fixed {
	position: fixed;
	top: 0;
	height: 70px;
	z-index: 1;
}

.images {
	pointer-events: none;
	height: 100vh;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	opacity: .6;
	z-index: 20;
	background-size: cover;
	background-position: center;
	background-repeat: none;
	background-image: url('https://images.unsplash.com/photo-1532289402244-3cbf8bdeb722?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
}

#projects{
	height: 100vh;
	background-color: $grey;
}

.wrapper {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	cursor: pointer;
	text-align: center;
	&:hover {
		.restart {
			opacity: .8;
		}
	}
}

.restart {
	color: $white;
	margin-top: 20px;
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: -.08rem;
	transition: opacity $animation-unit/2 linear;
}

.port, .folio {
	position: relative;
	color: $white;
	text-transform: uppercase;
	letter-spacing: -.2rem;
	font-size: $font-size;
	margin: .05rem .05rem .5rem;
	padding: 0 $text-padding;
	display: inline-block;
}

.folio {
	font-weight: 300;
	letter-spacing: -.3rem;
	transform: translateX(-$tween);
}

.port {
	z-index: 10;
	font-weight: 700;
	transform: translateX($tween);
	&:before {
		z-index: -10;
		display: block;
		background-color: $purple;
		border: solid rgba($white, .2) 1px;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

%bar {
	content: '';
	display: block;
	height: 6px;
	position: absolute;
	background-color: $white;
	display: block;
	left: $text-padding;
	right: $text-padding;
}

.folio {
	&:after, &:before {
		@extend %bar;
	}
	&:before {
		top: 0;
	}
	&:after {
		bottom: 0;
	}
}

// Cue all the animations when run-animation class is activated
.wrapper.run-animation {
	animation: shrink ease-out ($animation-unit * 16) forwards ($animation-unit * 2);
	.port {
	transform: translateX($tween);
	animation: slide-out-X $slideOut ease forwards;
}
	.folio {
		transform: translateX(-$tween);
		color: transparent;
		animation: slide-out-X $slideOut ease forwards, show-text $animation-unit linear forwards ($slideOut * 2);
		&:before {
			transform: translateY(($font-size + ($text-padding * 2)) / 2);
			animation: slide-out-Y $animation-unit ease forwards $slideOut;
		}
		&:after {
			transform: translateY(-(($font-size + ($text-padding * 2)) / 2));
			animation: slide-out-Y $animation-unit ease forwards $slideOut;
		}
	}
	.restart {
		opacity: 0;
		animation: fade-down ($animation-unit * 4) ease ($animation-unit * 12) forwards;
	}
	~ .images {
		animation: flicker-images ($animation-unit * 5) 2 steps(1, end), fade-out ($animation-unit * 5 * 3) forwards;
	}
}


@keyframes slide-out-X {
	100% {
		transform: translateX(0);
	}
}

@keyframes slide-out-Y {
	100% {
		transform: translateY(0);
	}
}

@keyframes show-text {
	100% {
		color: $white;
	}
}

@keyframes shrink {
	100% {
		transform: scale(0.8);
	}
}

@keyframes tighten-vinette {
	100% {
		background-size: 120%;
	}
}

@keyframes fade-down {
	0% {
		transform: translateY(-2rem);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: .5;
	}
}

@keyframes fade-out {
	100% {
		opacity: 0;
	}
}

@keyframes flicker-images {
  0% {
    background-image: url('https://freefrontend.com/assets/img/css-loaders/code-loader.gif');
  }
  10% {
    background-image: url('https://images.unsplash.com/photo-1462078563783-650e23af549d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=966&q=80');
  }
  20% {
    background-image: url('https://images.unsplash.com/photo-1515524738708-327f6b0037a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  }
  30% {
    background-image: url('https://images.unsplash.com/photo-1496674205429-924b32acd421?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
  }
  40% {
    background-image: url('https://petaniilmu.com/wp-content/uploads/2018/10/Defer-Parsing-JavaScript.jpeg');
  }
	50% {
		background-image: url('https://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2017/04/1493235373large_react_apps_A-01.png');
	}
	60% {
		background-image: url('https://images.unsplash.com/photo-1482440308425-276ad0f28b19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
	}
	70% {
		background-image: url('https://ga-core.s3.amazonaws.com/production/uploads/program/default_image/10523/Code_Write_Brackets_Hand_Open.jpg');
	}
	80% {
		background-image: url('https://images.unsplash.com/photo-1540983915684-bc2de73c8014?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=977&q=80');
	}
	90% {
		background-image: url('https://images.unsplash.com/photo-1519291884310-9472f14f0ff0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=992&q=80');
	}
	100% {
    background-image: url('https://images.unsplash.com/photo-1522223142907-0fbfb9c571c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1026&q=80');
	}
}

//----------------About Me Section------------//
.aboutMe {
	height:70vh;
	background-color: $white;

.aboutme-bio{
		height: 100%;
		width: 100%;
		padding: 15% 15%;
		color:$darkpurple;
	}
	
	.content {
	margin-top:30%;	
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow:hidden;
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  color: #17758d;
  &__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;

    &:before {
      content: '{';
      left: 0;
    }

    &:after {
      content: '}';
      position: absolute;
      right: 0;
    }

    &:after, &:before {
      position: absolute;
      top: 0;
      color: $darkpurple;
      font-size: 42px;
			line-height: 40px;

      -webkit-animation-name: opacity;
      -webkit-animation-duration: 2s;
			-webkit-animation-iteration-count: infinite;
      animation-name: opacity;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }

    &__text {
      display: inline;
      float: left;
      margin: 0;
    }

    &__list {
      margin-top: 0;
      padding-left: 110px;
      text-align: left;
      list-style: none;
      
      -webkit-animation-name: change;
      -webkit-animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite;

      &__item {
        line-height:40px;
        margin:0;
      }
    }
	}
	
}

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-o-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-o-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-moz-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-moz-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}
}





//---------------------------------- Contact form


#form-main{
	width:100%;
	margin-left: auto;
  	margin-right: auto;
	padding-top:10%;
}

#text-feedback{
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	background-color:white;
	text-align:center;
}

#form-div {
	background-color:#3c3c3c;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 5%;
	width: 50%;
 	margin-left: auto;
  	margin-right: auto;
}

.feedback-input {
	opacity:0.9;
	color:#0493bd;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight:400;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
  border: 3px solid #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid $darkpurple;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
	width: 100%;
	height: 150px;
	line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Helvetica, Arial,  sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: $darkpurple;
	color: $white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: $darkpurple;
}
	
.submit:hover {
	color: $purple;
}
	
.ease {
  border-top:3px #3c3c3c solid;
	width: 0px;
	height: 76px;
	background-color: #fbfbfb;
	-webkit-transition: .4s ease;
	-moz-transition: .4s ease;
	-o-transition: .4s ease;
	-ms-transition: .4s ease;
	transition: .4s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-left: auto;
		margin-right: auto;
		margin-top:15%;
		// margin-right: 3%;
		width: 100%;
		// margin-left: 0;
	}
	

}


*, *:before, *:after {
  box-sizing: border-box;
}

.slide-container {
  margin: auto;
  width: 600px;
  text-align: center;
}

.wrapper {
  padding-top: 40px;
	padding-bottom: 40px;
  
  &:focus {
    outline: 0;
  }
}



.project-card {
  background: $white;
  width: 50%;
  display: inline-block;
  margin: auto;
  border-radius: $border-radius-size + 5;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}

.project-card__image {
  position: relative;
  height: 275px;
  margin-bottom: 3px;
  border-top-left-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;
}

.project-card__image--barbarian {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg');
  img {
    width: 40px;
    position: absolute;    
    top: -65px;
    left: -70px;
  }
}

.project-card__image--project2 {
  background: url('https://purple-door.ca/wp-content/uploads/2016/08/311366-purple.jpg');
  img {
    width: 20rem;
    height:20rem;
    position: absolute;    
    top: -15%;
    left: -37px;
  }
}

.project-card__image--project3 {
  background: url('https://cdn2.stormgrounds.com/stormgrounds-cdn/media/Hot-Pink-Blur.jpg');
  img {
    width: 105%;
		position: absolute; 
	  height:110%;
		bottom: 0.1%;
		right:0%
  }
}

.project-card__image--project1 {
	background: url('https://sftextures.com/texture/5510/1/5511/green-shades-blurred-tree-background-bright-abstract-dark-and-light-areas-brown-spots-natural-color-512x288.png'),fixed;
  img {
		width:150%;
		position: absolute;   
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
	}
}

.project-card__image--project4 {
  background: url('https://us.123rf.com/450wm/apostrophe/apostrophe1707/apostrophe170700009/81722331-soft-blurred-blue-green-and-white-background-with-soft-smooth-texture-out-of-focus-blurry-blue-backg.jpg?ver=6');
  img {
    width: 150%;
		position: absolute;   
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);	  
    
   
  }
}

.project-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.project-card__level--barbarian {
  color: $barbarian;
}

.project-card__level--project2 {
  color: $purple;
}

.project-card__level--project3 {
  color: $pinkish;
}

.project-card__level--project1 {
  color: $green;
}

.project-card__level--project4 {
  color: $blue;
}

.project-card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.project-card__unit-description {
  padding: 20px;
  margin-bottom: 10px;  
}

.project-card__unit-stats--barbarian {
  background: $barbarian;
}

.project-card__unit-stats--project2 {
  background: $purple;
}

.project-card__unit-stats--project3 {
  background: $pinkish;
}

.project-card__unit-stats--project1 {
  background: $green;
  
  .one-third {
     border-right: 1px solid darken($green, 6%);
  }
}

.project-card__unit-stats--project4 {
  background: $blue;
  
  .one-third {
     border-right: 1px solid darken($blue, 6%);
  }
}

.project-card__unit-stats {
  color: $white;
  font-weight: 700;
  border-bottom-left-radius: $border-radius-size;
  border-bottom-right-radius: $border-radius-size;
  
  .view-site-project1, .view-site-project2, .view-site-project3, {
		color: $white;
		padding: 20px 15px;
	}
	.view-site-project2:hover {
		background-color: $darkpurple;
		border-bottom-left-radius: $border-radius-size;
		border-bottom-right-radius: $border-radius-size;
	}

	.view-site-project3:hover {
		background-color: $purple;
		border-bottom-left-radius: $border-radius-size;
		border-bottom-right-radius: $border-radius-size;

	}
	.view-site-project1:hover {
		background-color: $purple;
		border-bottom-left-radius: $border-radius-size;
		border-bottom-right-radius: $border-radius-size;

	}

  .stat {
    position: relative;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  
  .no-border {
    border-right: none;
  }
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.slick-prev {
  z-index: 99;
}

.slick-next {
	z-index: 99;
}