* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #6b31de;
  background-image: radial-gradient(#6b31de 20%, #262cac 50%, rgba(0, 0, 0, 0.5) 100%);
  background-size: 120%;
  background-position: center;
  font-family: "Barlow Condensed", sans-serif;
  animation: tighten-vinette ease-out 3900ms forwards;
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 80px;
  background: #333333;
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 1% 2%;
}

nav li a {
  color: #757575;
  text-transform: uppercase;
}

.fixed {
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 1;
}

.images {
  pointer-events: none;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  opacity: 0.6;
  z-index: 20;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  background-image: url("https://images.unsplash.com/photo-1532289402244-3cbf8bdeb722?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
}

#projects {
  height: 100vh;
  background-color: #333333;
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  cursor: pointer;
  text-align: center;
}
.logo:hover .restart {
  opacity: 0.8;
}

.restart {
  color: #fff;
  margin-top: 20px;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: -0.08rem;
  transition: opacity 325ms linear;
}

.port, .folio {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -0.2rem;
  font-size: 15rem;
  margin: 0.05rem 0.05rem 0.5rem;
  padding: 0 0.4rem;
  display: inline-block;
}

.folio {
  font-weight: 300;
  letter-spacing: -0.3rem;
  transform: translateX(-25px);
}

.port {
  z-index: 10;
  font-weight: 700;
  transform: translateX(25px);
}
.port:before {
  z-index: -10;
  display: block;
  background-color: #6b31de;
  border: solid rgba(255, 255, 255, 0.2) 1px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.folio:after, .folio:before {
  content: "";
  display: block;
  height: 6px;
  position: absolute;
  background-color: #fff;
  display: block;
  left: 0.4rem;
  right: 0.4rem;
}

.folio:before {
  top: 0;
}
.folio:after {
  bottom: 0;
}

.wrapper.run-animation {
  animation: shrink ease-out 10400ms forwards 1300ms;
}
.wrapper.run-animation .port {
  transform: translateX(25px);
  animation: slide-out-X 975ms ease forwards;
}
.wrapper.run-animation .folio {
  transform: translateX(-25px);
  color: transparent;
  animation: slide-out-X 975ms ease forwards, show-text 650ms linear forwards 1950ms;
}
.wrapper.run-animation .folio:before {
  transform: translateY(7.9rem);
  animation: slide-out-Y 650ms ease forwards 975ms;
}
.wrapper.run-animation .folio:after {
  transform: translateY(-7.9rem);
  animation: slide-out-Y 650ms ease forwards 975ms;
}
.wrapper.run-animation .restart {
  opacity: 0;
  animation: fade-down 2600ms ease 7800ms forwards;
}
.wrapper.run-animation ~ .images {
  animation: flicker-images 3250ms 2 steps(1, end), fade-out 9750ms forwards;
}

@keyframes slide-out-X {
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-out-Y {
  100% {
    transform: translateY(0);
  }
}
@keyframes show-text {
  100% {
    color: #fff;
  }
}
@keyframes shrink {
  100% {
    transform: scale(0.8);
  }
}
@keyframes tighten-vinette {
  100% {
    background-size: 120%;
  }
}
@keyframes fade-down {
  0% {
    transform: translateY(-2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0.5;
  }
}
@keyframes fade-out {
  100% {
    opacity: 0;
  }
}
@keyframes flicker-images {
  0% {
    background-image: url("https://freefrontend.com/assets/img/css-loaders/code-loader.gif");
  }
  10% {
    background-image: url("https://images.unsplash.com/photo-1462078563783-650e23af549d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=966&q=80");
  }
  20% {
    background-image: url("https://images.unsplash.com/photo-1515524738708-327f6b0037a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  }
  30% {
    background-image: url("https://images.unsplash.com/photo-1496674205429-924b32acd421?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  }
  40% {
    background-image: url("https://petaniilmu.com/wp-content/uploads/2018/10/Defer-Parsing-JavaScript.jpeg");
  }
  50% {
    background-image: url("https://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2017/04/1493235373large_react_apps_A-01.png");
  }
  60% {
    background-image: url("https://images.unsplash.com/photo-1482440308425-276ad0f28b19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  }
  70% {
    background-image: url("https://ga-core.s3.amazonaws.com/production/uploads/program/default_image/10523/Code_Write_Brackets_Hand_Open.jpg");
  }
  80% {
    background-image: url("https://images.unsplash.com/photo-1540983915684-bc2de73c8014?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=977&q=80");
  }
  90% {
    background-image: url("https://images.unsplash.com/photo-1519291884310-9472f14f0ff0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=992&q=80");
  }
  100% {
    background-image: url("https://images.unsplash.com/photo-1522223142907-0fbfb9c571c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1026&q=80");
  }
}
.aboutMe {
  height: 70vh;
  background-color: #fff;
  background: url("https://www.fg-a.com/wallpapers/white-marble-3-2018.jpg");
  background-attachment: fixed;
  border-top: solid 20px #6b31de;
  border-bottom: solid 20px #6b31de;
}
.aboutMe .aboutme-bio {
  height: 100%;
  width: 100%;
  padding: 10% 15%;
  text-align: center;
}
.aboutMe .content {
  margin-top: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-size: 35px;
  color: #17758d;
}
.aboutMe .content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}
.aboutMe .content__container:before {
  content: "{";
  left: 0;
}
.aboutMe .content__container:after {
  content: "}";
  position: absolute;
  right: 0;
}
.aboutMe .content__container:after, .aboutMe .content__container:before {
  position: absolute;
  top: 0;
  color: #262cac;
  font-size: 42px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.aboutMe .content__container__text {
  display: inline;
  float: left;
  margin: 0;
}
.aboutMe .content__container__list {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.aboutMe .content__container__list__item {
  line-height: 40px;
  margin: 0;
}
@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@-o-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-o-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@-moz-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-moz-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

#form-main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
}

#text-feedback {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
  text-align: center;
}

#form-div {
  background-color: #3c3c3c;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 5%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.feedback-input {
  opacity: 0.9;
  color: #0493bd;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  border: 3px solid #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.feedback-input:focus {
  background: #fff;
  box-shadow: 0;
  border: 3px solid #262cac;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused {
  color: #30aed6;
  border: #30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#name:focus {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email {
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email:focus {
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#comment {
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color: white;
}

#button-blue {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  float: left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: #262cac;
  color: #fff;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#button-blue:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #262cac;
}

.submit:hover {
  color: #6b31de;
}

.ease {
  border-top: 3px #3c3c3c solid;
  width: 0px;
  height: 76px;
  background-color: #fbfbfb;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  transition: 0.4s ease;
}

.submit:hover .ease {
  width: 100%;
  background-color: white;
}

@media only screen and (max-width: 580px) {
  #form-div {
    left: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 100%;
  }
}
*, *:before, *:after {
  box-sizing: border-box;
}

.slide-container {
  margin: auto;
  width: 600px;
  text-align: center;
}

.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}
.wrapper:focus {
  outline: 0;
}

.project-card {
  background: #fff;
  width: 50%;
  display: inline-block;
  margin: auto;
  border-radius: 19px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}

.project-card__image {
  position: relative;
  height: 275px;
  margin-bottom: 3px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.project-card__image--barbarian {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg");
}
.project-card__image--barbarian img {
  width: 40px;
  position: absolute;
  top: -65px;
  left: -70px;
}

.project-card__image--project2 {
  background: url("https://purple-door.ca/wp-content/uploads/2016/08/311366-purple.jpg");
}
.project-card__image--project2 img {
  width: 20rem;
  height: 20rem;
  position: absolute;
  top: -15%;
  left: -37px;
}

.project-card__image--project3 {
  background: url("https://cdn2.stormgrounds.com/stormgrounds-cdn/media/Hot-Pink-Blur.jpg");
}
.project-card__image--project3 img {
  width: 105%;
  position: absolute;
  height: 110%;
  bottom: 0.1%;
  right: 0%;
}

.project-card__image--project1 {
  background: url("https://sftextures.com/texture/5510/1/5511/green-shades-blurred-tree-background-bright-abstract-dark-and-light-areas-brown-spots-natural-color-512x288.png"), fixed;
}
.project-card__image--project1 img {
  width: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-card__image--project4 {
  background: url("https://us.123rf.com/450wm/apostrophe/apostrophe1707/apostrophe170700009/81722331-soft-blurred-blue-green-and-white-background-with-soft-smooth-texture-out-of-focus-blurry-blue-backg.jpg?ver=6");
}
.project-card__image--project4 img {
  width: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.project-card__level--barbarian {
  color: #EC9B3B;
}

.project-card__level--project2 {
  color: #6b31de;
}

.project-card__level--project3 {
  color: #ff009d;
}

.project-card__level--project1 {
  color: #82BB30;
}

.project-card__level--project4 {
  color: #027764;
}

.project-card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.project-card__unit-description {
  padding: 20px;
  margin-bottom: 10px;
}

.project-card__unit-stats--barbarian {
  background: #EC9B3B;
}

.project-card__unit-stats--project2 {
  background: #6b31de;
}

.project-card__unit-stats--project3 {
  background: #ff009d;
}

.project-card__unit-stats--project1 {
  background: #82BB30;
}
.project-card__unit-stats--project1 .one-third {
  border-right: 1px solid #71a32a;
}

.project-card__unit-stats--project4 {
  background: #027764;
}
.project-card__unit-stats--project4 .one-third {
  border-right: 1px solid #01594b;
}

.project-card__unit-stats {
  color: #fff;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.project-card__unit-stats .view-site-project1, .project-card__unit-stats .view-site-project2, .project-card__unit-stats .view-site-project3 {
  color: #fff;
  padding: 20px 15px;
}
.project-card__unit-stats .view-site-project2:hover {
  background-color: #262cac;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.project-card__unit-stats .view-site-project3:hover {
  background-color: #6b31de;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.project-card__unit-stats .view-site-project1:hover {
  background-color: #6b31de;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.project-card__unit-stats .stat {
  position: relative;
  font-size: 20px;
  margin-bottom: 10px;
}
.project-card__unit-stats .no-border {
  border-right: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.slick-prev {
  z-index: 99;
}

.slick-next {
  z-index: 99;
}

/*# sourceMappingURL=output.css.map */
